IndexIgnore *
<IfModule mod_rewrite.c>

    #Options +FollowSymLinks
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>



<FilesMatch “.(ttf|otf|eot|woff)$”>
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin “*”
    </IfModule>
</FilesMatch>
